:root {
    font-size: 14px;
    --clr-app: #38c4c1;
    --clr-app-2: #38c4c231;
    --clr-app-3 : #38c4c252;
    --clr-philo: #feca02;
    --clr-prat: #fe7ec9;
    --clr-prat-2: #fe7ec936;
    --clr-jeux: #488df4;
    --txt-decor: none;
    --txt-alin: center;
    --lst-style: none;
    --dsp-flex: flex;
    --dsp-grid: grid;
    --alin-items: center;
    --clr-footer : #333333;
}

body,
html {
    margin: 0;
    padding: 0;
    color : #42434B;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: auto;
     font-style: normal;
}
img { 
    width: 100%;
}

/* header style */
header {
    display: var(--dsp-flex);
    justify-content: space-between;
    align-items: center;
    margin: 0; /* value help to align section center  later*/
    h2 a{
        color: var(--clr-prat);
        text-decoration: var(--txt-decor);
        text-transform: uppercase;
        padding: 2rem;
    }
    .burger {
        /* display: none; */
        position: absolute;
        right: 5%;
        padding: 1rem;
        a {
            text-decoration: none;
            font-size: 1.5rem;
            color: black;
        }
    }
    nav ul {
        list-style : var(--lst-style);
        li {
            padding: 1rem;
            a{
            text-decoration: var(--txt-decor);
            
        }
        }
    }
    .open{
        display: none;
        position : absolute;
        top : 0;
        left: 0;
        bottom: 0;
        right: 50%;
        background-color: #333333;
        li a {
           color: white; 
        }
    }
}

/* main style */
main {
    #hero {
        text-align: var(--txt-alin);
        padding: 2rem;
        padding-top: 0;
        padding-bottom: 0;
        h1{
        text-transform: uppercase;
        color: var(--clr-jeux);
        margin: 0;
        padding: 0.5rem;
        }
        h2{
            margin : 0;
        }
        figure {
            /* image code */
            width: 100%;
            margin :0;
            img {
                
            }
        }
    }

    #accueil{
        display: var(--dsp-grid);
        grid-template-rows: repeat(4, 1fr);
        text-align: var(--txt-alin);
        figure img {
            width: 76px;
            height: auto;
        }
        .green {
            background-color: var(--clr-app);
        }
        .yellow {
            background-color: var(--clr-philo);
        }
        .purple{
            background-color: var(--clr-prat);
        }
        .blue{
            background-color: var(--clr-jeux);
        }
    }

    #propos{
        text-align: var(--txt-alin);
        margin:2rem;
        p{
            padding: 0.3rem;
        }
        h2{
            font-size: 2rem;
        }
        .green{
            background-color: var(--clr-app-2);
            padding: 0.5rem;
            margin-left: 0px;
            margin-right: 0px;
            img {
            width: 74px ;
            height: auto;
            }
            a {
                color : var(--clr-app);
                text-decoration: var(--txt-decor);
            }
        }
        .purple{
            background-color: var(--clr-prat-2);
            padding: 0.5rem;
            margin-left: 0px;
            margin-right: 0px;
            img {
            width: 74px ;
            height: auto;
            }
            a {
                color: var(--clr-prat);
                text-decoration: var(--txt-decor);
            }
        }
        :not(:first-of-type) {
            margin: 1rem;
        }
        figure{
            width: 100%;
            margin : 0;
            img {
                /* img style */
            }
        }
    }
    section:last-of-type{
        figure {
            margin: 1.5rem;
            img{
                
            }
        }
    }
}

footer {
    background-color: #333333;
    color: white;
    text-align: var(--txt-alin);
    height: 2rem;
    padding : 1rem;
}